{{#each blogs as |blog|}}

<div class="row">
    <div class="container postArea">
        <h2><a href="/blog/{{blog.id}}">{{blog.title}}</a></h2>
    </div>
</div>

<div class="col-4">
    <p>Created by: {{blog.user.username}}
    on
    {{format_date}}
    </p>
</div>

<div class="blogdesc">
    <p>
        {{blog.description}}
    </p>
</div>
{{/each}}